{{ define "main" }}
<div class="container header">
        <div class="heading text-center">
            <h2>View all live streamed events as video on demand</h2>
        </div>
        <p class="lead text-center"><a data-toggle="modal" data-target="#ocModal">Opening Ceremony</a> and Keynote with Barbara Marx Hubbard Streaming FREE</p>
</div>

  <!-- Modal -->
  <div class="modal fade" id="ocModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content text_center" >
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h3 class="modal-title">Opening Ceremony</h3>
        </div>
        <div class="modal-body">
            <img src="{{ .Site.BaseURL}}/img/barbara_marx_hubbard.jpg"/>
          <h4> Awaken! </h4>
          <p>
            Opening Ceremony Keynote Address with Barbara Marx Hubbard<br>
            Initiation into becoming a New Human Homo Universalis <br>
            Crystal Bowls Immersion by Jeralyn Glass</p>
            
        <h5>All you need to do is <a href="{{ .Site.BaseURL}}/register">Register</a> @ **5:00pm Feb 9th PST**</h5>
          
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>





<section class="bar background-image-fixed-3 no-mb color-white text-center">

        <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="text-center">
                            <h1>{{ .Site.Params.tickets.title }}</h1>
                        </div>
                        <div class="row">
                            {{ range sort (.Site.Data.tickets ) "weight" "asc"}}
                            <div class="col-sm-6 col-md-4">
                            <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
                                    <a href="{{ .url }}" target="_blank">
                                    <div class="flipper">
                                      <div class="front">
                                            <h4>{{ .text | markdownify }} </h4><br>
                                            <h4>{{ .price | markdownify }}</h4>
                                      </div>
                                      <div class="back">
                                            <p><strong>{{ .text | markdownify }} </strong></p>
                                            <p>{{ .info |markdownify}}</p>
                                      </div>
                                    </div>
                                </a>
                                  </div>
                            
                            </div>


                       
                            {{ end }}                            
                            <div class="col-sm-6 col-md-4">
                                    <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
                                            <a data-toggle="modal" data-target="#ocModal">
                                            <div class="flipper">
                                              <div class="front">
                                                    <h4>Opening Ceremony</h4><br>
                                                    <h4>Free</h4>
                                              </div>
                                              <div class="back">
                                                    <p><strong>Opening Ceremony</strong></p>
                                                    <p>Free opening Ceremony with Barbara Marx Hubbard</p>
                                              </div>
                                            </div>
                                        </a>
                                          </div>
                                    
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </section>
{{end}}