{{ define "main" }}
<div class="container centered_div">
        <div class="heading text-center">
            <h2>View all live streamed events as video on demand</h2>
        </div>
        <p class="lead text-center">Opening Ceremony and Keynote with Barbara Marx Hubbard Streaming <a href="">FREE</a></p>
</div>



<section class="bar background-image-fixed-3 no-mb color-white text-center">

        <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="text-center">
                            <h1>{{ .Site.Params.tickets.title }}</h1>
                        </div>
                        <div class="row">
                            {{ range sort (.Site.Data.tickets ) "weight" "asc"}}
                            <div class="col-sm-4">
                            <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
                                    <a href="{{ .url }}" target="_blank">
                                    <div class="flipper">
                                      <div class="front">
                                            <h4>{{ .text | markdownify }} </h4><br>
                                            <h4>{{ .price | markdownify }}</h4>
                                      </div>
                                      <div class="back">
                                            <p>{{ .text | markdownify }} </p>
                                            <p>{{ .info |markdownify}}</p>
                                      </div>
                                    </div>
                                </a>
                                  </div>
                            
                            </div>
                       
                            {{ end }}
                        </div>
                    </div>
                </div>
            </div>
    </section>
{{end}}