{{ define "main" }}


<div class="row">
<div class="col-sm-8 col-sm-offset-2">
        <div class="heading text-center">
            <h2>VIEW ALL LIVE STREAMED EVENTS AS VIDEO ON DEMAND</h2>
        </div>
    
        <p class="lead text-center">Opening Ceremony and Keynote with Barbara Marx Hubbard Streaming <a href="">FREE</a></p>
    </div>
</div>



<section class="bar background-image-fixed-3 no-mb color-white text-center">

        <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="text-center">
                            <h1>{{ .Site.Params.tickets.title }}</h1>
                        </div>
                        <div class="row">
                            {{ range sort (.Site.Data.tickets ) "weight" "asc"}}
                            <div class="col-sm-4">
                                    <a href="{{ .url }}" target="_blank">
                                <div class="tickets_large">
                                  
        
                                <h4>{{ .text | markdownify }} </h4><br>
                                <h4>{{ .price | markdownify }}</h4>
                                </div>
                            </a>
                            </div>
                       
                            {{ end }}
                        </div>
                    </div>
                </div>
            </div>
    </section>
{{end}}