{{ define "main" }}

<div class="container header">
    <div class="heading text-center">
        <h2>Become an Affiliate Partner</h2>
    </div>
</div>

<div class="container centered_div">
    <h4>Earn money on Live Stream ticket sales <br><br>
        Join our affiliate program by filling out the form below & start making commissions right away</h4>
        <script type='text/javascript' src='https://ey283.infusionsoft.com/app/form/iframe/ccbb768248b7fb2ec8064f5533fec95d'></script>
    </div>




{{end}}