<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

  {{ partial "head.html" . }}

  <body>
        <header class="main_header">

                <div class="row">
                    <div class="col-sm-6">
                    <h1>Los Angeles 17th</h1>
                    <h3> Annual Conscious Life Expo </h3>
                    </div>
                    <div class="col-sm-6 align_right">
                        <h2>February 2nd - 12th, 2019</h2>
                        <h3>LIVE STREAMING</h3>
                        <!-- <h4>Countdown Timer</h4> -->
                </div>
                </div>
                
                </header>
        
                <div class="row floating_nav">
                <div class="navbar navbar-default" role="navigation" id="navbar">
                {{ partial "nav.html" . }}
                </div>
                </div>

        <div class="main_container">
                {{ block "main" . }}
                {{ end }}
        </div>
</body>
</html>