<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

  {{ partial "head.html" . }}

  <body>
      <div class="container-fluid full_wrapping_container">
        <header class="main_header">

                <div class="row">
                    <div class="col-sm-6">
                    <h3>Los Angeles 17th Annual</h3>
                    <h2>Conscious Life Expo </h2>
                    </div>
                    <div class="col-sm-6 align_right">
                            <h3>February 22nd - 25th, 2019</h3>
                            <h2>Live Streaming</h2>
                        
                        <div id="countdown"></div>
                </div>
                </div>
                
                </header>
        
                <div class="floating_nav">
                <div class="navbar navbar-default" role="navigation" id="navbar">
                {{ partial "nav.html" . }}
                </div>
                </div>



            {{ block "main" . }}
            {{ end }}



        {{ partial "footer.html" . }}


    </div>
        {{ partial "scripts.html" . }}
</body>
</html>