{{ define "main" }}

{{ range .Site.Pages}}
      <!-- Modal -->
      <div class="modal fade" id="event{{.Params.Id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h2 class="modal-title header">{{.Params.Title}}</h2>
            </div>
            <div class="modal-body">
              <div class="row modal_row">
                <div class="col-sm-2">
                  <h5>About</h5>
                </div>
                <div class="col-sm-10 border-left">{{.Params.About}}</div>
              </div>
              <div class="row modal_row">
                  <div class="col-sm-2">
                    <h5>View</h5>
                  </div>
                  <div class="col-sm-10 border-left">
                      <h5><strong>{{.Params.Name_event}}</strong><br>{{.Params.Date_event}} - {{.Params.Time_event}}</h5>
         
                      {{ .Params.About_event}}
                  </div>
              </div>
              <div class="row modal_row">
                  <div class="col-sm-2">
                    <h5>Tickets</h5><br>
                    <a href="/buy">All Tickets</a>
                  </div>
                  <div class="col-sm-10 border-left">
                      To stream this event you need one of the following tickets:<br>
                      <div class="row">
                      {{ range .Params.tags}}

                      {{ if eq . "ind_key"}}
                        <div class="col-sm-3 centered_div">
                          <div class="ticket_small">
                            <a href="https://ey283.infusionsoft.com/app/storeFront/showCategoryPage?categoryId=101" target="_blank">
                        <h6>Individual Keynote Ticket for Speaker</h6>
                        <p> from $45 </p>
                        </a>
                        </div>
                        </div>
    
                      {{ else if eq . "prem"}}
                      <div class="col-sm-3 centered_div">
                          <div class="ticket_small">
                            <a href="https://ey283.infusionsoft.app/app/storeFront/showProductDetail?productId=427" target="_blank">
                        <h6>Premium Pass</h6>
                        <p> $122 </p>
                        </a>
                        </div>
                        </div>
                    

                    {{ else if eq . "prem_plus_dw"}}
                    <div class="col-sm-3 centered_div">
                        <div class="ticket_small">
                          <a href="https://ey283.infusionsoft.app/app/storeFront/showProductDetail?productId=431" target="_blank">
                      <h6>Premium Pass + David Wilcock Trilogy Pass</h6>
                      <p> $267 </p>
                      </a>
                      </div>
                      </div>
                      </div>
                      {{end}}
                      
                      {{end}}

                    </div>
                    </div>
                      <!-- <a class="btn btn-default" href="/buy">Tickets</a> -->
                  </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
{{end}}



<div class="container events_container">
        <div class="row speaker_block">
                <div class="heading text-center">
                        <h2>Keynote Speakers</h2>
                    </div>
                

                {{ $.Scratch.Set "count" 0 }}
                {{ range where .Site.Pages "Params.type" "Keynote" }}
                {{ $.Scratch.Add "count" 1 }}
                {{ if modBool ($.Scratch.Get "count") 5 }}
                </div><div class="row">
                {{end}}
                     <div class="col-sm-3">
           
                   <div class="card" style="background: url('{{ .Site.BaseURL}}{{ .Params.Image }}') no-repeat; background-size:cover;">
           
                           <div class="card_title">
                           <h4>{{ .Title }} <a class="btn" data-toggle="collapse" href="#multiCollapseExample{{ .Params.Id}}" role="button" aria-expanded="false" aria-controls="multiCollapseExample1"><i class="fas fa-info-circle fa-2x"></i></a></h4> 
                           
                           </div>

                           <div class="collapse multi-collapse" id="multiCollapseExample{{ .Params.Id}}">
                                <div class="card-body">
                                  <p>{{.Params.About | truncate 160}}</p>
                                  <p><strong>{{.Params.Name_event}}</strong></p>
                                  <p>{{.Params.Date_event}} <br> {{.Params.Time_event}}</p>
                                  <button type="button" class="btn btn-default" data-toggle="modal" data-target="#event{{ .Params.Id}}">
                                        <h6>More Info &amp; Tickets</h6>
                                  </button>
                                </div>
                              </div>
                   </div>  
                     </div>
                {{ end }}
               </div>
              
           
        <div class="row speaker_block">
                <div class="heading text-center">
                        <h2>Panel Discussions</h2>
                    </div>
                

                {{ $.Scratch.Set "count_p" 0 }}
                {{ range where .Site.Pages "Params.type" "Panel" }}
                {{ $.Scratch.Add "count_p" 1 }}
                {{ if modBool ($.Scratch.Get "count_p") 5 }}
                </div><div class="row">
                {{end}}
                     <div class="col-sm-3">
           
                   <div class="card" style="background: url('{{ .Site.BaseURL}}{{ .Params.Image }}') no-repeat; background-size:cover;">
           
                           <div class="card_title">
                           <h4>{{ .Title }} <a class="btn" data-toggle="collapse" href="#multiCollapseExample{{ .Params.Id}}" role="button" aria-expanded="false" aria-controls="multiCollapseExample1"><i class="fas fa-info-circle fa-2x"></i></a></h4> 
                           
                           </div>

                           <div class="collapse multi-collapse" id="multiCollapseExample{{ .Params.Id}}">
                                <div class="card-body">
                                  <p>{{.Params.About | truncate 160}}</p>
                                  <p><strong>{{.Params.Name_event}}</strong></p>
                                  <p>{{.Params.Date_event}} <br> {{.Params.Time_event}}</p>
                                  <button type="button" class="btn btn-default" data-toggle="modal" data-target="#exampleModal{{ .Params.Id}}">
                                        More Info
                                  </button>
                                  <p> Ticket needed: Individual Speaker/Premium Pass<br><a class="btn btn-default"  href="/buy">Tickets</a></p>
                                </div>
                              </div>
                   </div>  
                     </div>
                {{ end }}
               </div>
           
               <div class="row speaker_block">
                    <div class="heading text-center">
                            <h2>Workshops</h2>
                        </div>
                    
    
                    {{ $.Scratch.Set "count__w" 0 }}
                    {{ range where .Site.Pages "Params.type" "Workshop" }}
                    {{ $.Scratch.Add "count_w" 1 }}
                    {{ if modBool ($.Scratch.Get "count_w") 5 }}
                    </div><div class="row">
                    {{end}}
                         <div class="col-sm-3">
               
                       <div class="card" style="background: url('{{ .Site.BaseURL}}{{ .Params.Image }}') no-repeat; background-size:cover;">
               
                               <div class="card_title">
                               <h4>{{ .Title }} <a class="btn" data-toggle="collapse" href="#multiCollapseExample{{ .Params.Id}}" role="button" aria-expanded="false" aria-controls="multiCollapseExample1"><i class="fas fa-info-circle fa-2x"></i></a></h4> 
                               
                               </div>
    
                               <div class="collapse multi-collapse" id="multiCollapseExample{{ .Params.Id}}">
                                    <div class="card-body">
                                      <p>{{.Params.About | truncate 160}}</p>
                                      <p><strong>{{.Params.Name_event}}</strong></p>
                                      <p>{{.Params.Date_event}} <br> {{.Params.Time_event}}</p>
                                      <button type="button" class="btn btn-default" data-toggle="modal" data-target="#exampleModal{{ .Params.Id}}">
                                            More Info
                                      </button>
                                      <p> Ticket needed: Individual Speaker/Premium Pass<br><a class="btn btn-default"  href="/buy">Tickets</a></p>
                                    </div>
                                  </div>
                       </div>  
                         </div>
                    {{ end }}
                   </div>

            </div>

{{end}}
