{{ define "main" }}

        <!-- {{ partial "breadcrumbs.html" . }} -->

        <div class="row">
                <h1>Keynote Speakers</h1>
                
                {{ range where .Site.Pages "Params.type" "Keynote" }}
                     <div class="col-sm-2">
           
                   <div class="card">
                           <a href="{{.URL}}">
           
                           <img src="{{ .Site.BaseURL}}{{ .Params.Image }}" alt="{{.Params.Title}}" width="100%">
           
                           <div class="container card_title">
                           <h4><b>{{ .Title }}</b></h4> 
                           </div>
                           </a>
                   </div>  
                     </div>
                {{ end }}
               </div>
              
           
               <div class="row">
                <h1>Panel Discussions</h1>
                {{ range where .Site.Pages "Params.type" "Panel" }}
                <div class="col-sm-2">
           
                           <div class="card">
                                   <a href="{{.URL}}">
                   
                                   <img src="{{ .Site.BaseURL}}{{ .Params.Image }}" alt="{{.Params.Title}}" width="100%">
                   
                                   <div class="container card_title">
                                   <h4><b>{{ .Title }}</b></h4> 
                                   </div>
                                   </a>
                           </div>  
                             </div>
                {{ end }}
               </div>
           
                <div class="row">
                <h1>Workshops</h1>
                {{ range where .Site.Pages "Params.type" "Workshop" }}
                <div class="col-sm-2">
           
                           <div class="card">
                                   <a href="{{.URL}}">
                   
                                   <img src="{{ .Site.BaseURL}}{{ .Params.Image }}" alt="{{.Params.Title}}" width="100%">
                   
                                   <div class="container card_title">
                                   <h4><b>{{ .Title }}</b></h4> 
                                   </div>
                                   </a>
                           </div>  
                             </div>
                {{ end }}
               </div>
                    <!-- /.col-md-9 -->

                    <!-- *** LEFT COLUMN END *** -->

                    <!-- *** RIGHT COLUMN ***
       _________________________________________________________ -->

                    <!-- <div class="col-md-3"> -->

                        <!-- *** MENUS AND WIDGETS *** -->

                        <!-- {{ partial "sidebar.html" . }} -->

                        <!-- *** MENUS AND FILTERS END *** -->

                    <!-- </div> -->
                    <!-- /.col-md-3 -->

                    <!-- *** RIGHT COLUMN END *** -->

                <!-- </div> -->
                <!-- /.row -->

{{end}}
