<!-- <div class="navbar-affixed-top" data-spy="affix" data-offset-top="200"></div> -->

        
    
            <div class="container">
                <div class="navbar-header">
                    <div class="navbar-buttons">
                        <div data-toggle="collapse" data-target="#navigation" onclick="myFunction(this)">
                                <div class="bar1"></div>
                                <div class="bar2"></div>
                                <div class="bar3"></div>
                              </div> 
                    </div>
                </div>
                <!--/.navbar-header -->
    
                <div class="navbar-collapse collapse" id="navigation">
                    <ul class="nav navbar-nav">
                      {{ range .Site.Menus.main }}
                      <li class="dropdown">
                        <a class="active" href="{{ .URL }}">{{ .Name }}</a>
                      </li>
                      {{ end }}
                    </ul>
                </div>

                <!--/.nav-collapse -->
    
                <div class="collapse clearfix" id="search">
    
                    <form class="navbar-form" role="search">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search">
                            <span class="input-group-btn">
    
                        <button type="submit" class="btn btn-template-main"><i class="fa fa-search"></i></button>
    
                    </span>
                        </div>
                    </form>
    
                </div>
                <!--/.nav-collapse -->
    
            </div>

        <!-- /#navbar -->
    
    <!-- </div> -->
    
    <!-- *** NAVBAR END ***-->

    