{{ define "main" }}

        

    <div class="container centered_div">
    <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
            <div class="heading text-center">
                <h2>Live Stream the 2019 Conscious Life Expo</h2>
            </div>
        
            <p class="lead">Join the 17th Annual Conscious Life Expo. <br />
                Live Streamed Events Available as Video On Demand.</p>
        </div>

      </div>

                <div class="row mbs">
            
                    <div class="col-sm-4">
                        <div class="box-simple">
                            <div class="icon">
                                    <i class="fas fa-atom"></i>
                            </div>
                            <h3>Thought Leaders</h3>
                            <p>Fifth abundantly made Give sixth hath. Cattle creature i be don&rsquo;t them behold green moved fowl Moved life us beast good yielding. Have bring.</p>
                        </div>
                    </div>
            
            
            
                    <div class="col-sm-4">
                        <div class="box-simple">
                            <div class="icon">
                                <i class="fas fa-book-open"></i>
                            </div>
                            <h3>Best Selling Authors</h3>
                            <p>Advantage old had otherwise sincerity dependent additions. It in adapted natural hastily is justice. Six draw you him full not mean evil.</p>
                        </div>
                    </div>
            
            
            
                    <div class="col-sm-4">
                        <div class="box-simple">
                            <div class="icon">
                                <i class="fas fa-hands"></i>
                            </div>
                            <h3>Energy Healers</h3>
                            <p>Am terminated it excellence invitation projection as. She graceful shy believed distance use nay. Lively is people so basket ladies window expect.</p>
                        </div>
                    </div>
            
                </div>
        

            </div>



<div class="row par_info">
         {{ partial "see_more.html" . }}
</div>


<div class="container centered_div">
<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
    <div class="heading text-center">
        <h2>More info - from 'About' section</h2>
    </div>

    <p class="lead">
            The Conscious Life Expo is hosting our 16th Annual Event in Los Angeles CA.

 

            2018 Celebrates the 3rd Annual Live Streaming of this Event With Streaming for the Soul!
            
             
            
            We hope you enjoy the Expo through the interactive Live Steam platform. This promises to be a life changing event and now through the miracle of  Live Steaming you can be right there. February 9 - 12, 2018
            
             
            
            You will access powerful thought leaders, energy healers and best selling authors. Learn valuable gems of information from the movers and shakers of our world.
            
             
            
            Login from where ever you are and be transported into your healing and your future. This promises to be a life changing extravaganza.
            
             
            
            We stand at the crossroads of where spirituality and science converge. Our goal is to bring you the most relevant, thought provoking and inspiring information available now.  Through discussion and deeper sharing, light is shed on subjects that may otherwise be buried by the noise of commercialism and the mundane.  We don't shy away from controversial issues, we embrace them.
    </p>
</div>
</div>

</div>
        



{{end}}